
// .tab-list {
  //   padding-left: 0;
  // }
  
  // .tab-list-item {
  //   display: inline-block;
  //   list-style: none;
  // }
  
  // .tab-list-active {
  //   background-color: white;
  //   border: solid #ccc;
  //   border-width: 1px 1px 0 1px;
  // }


nav {
  .dropdown-nav {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom:0;
    display: flex;
    .nav-item {
      // display: none;
    }
    .nav-item-active {
      background: white;
    }
  }
  .dropdown-nav-items {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom:0;
    display: inline-block;
  }
}