//COLORS
$se-primary: (
  100: #f0f8fc,
  500: #008cc3,
);

$se-highlight: (
  500: #f0f8fc,
);

$se-success: (
  100: #f0faf4,
  500: #00a846,
);

$se-warn: (
  100: #fefbf2,
  500: #f0b428,
);

$se-alert: (
  100: #fbf2f4,
  500: #b42846,
);

$se-black: (
  500: #000,
);

$se-not-black: (
  500: #23282B,
);

$se-dark-gray: (
  500: #68767f,
);

$se-gray: (
  0: #c3cace,
  100: #f0f8fc,
  200: #f2f3f4,
  300: #ebebeb,
  500: #c3cace,
  600: #90a0a7,
  700: #68767f,
  900: #23282b,
);

$se-light-gray: (
  500: #f2f3f4,
);

$se-white: (
  500: #ffffff,
);

$se-blue: (
  500: #008CC3,
);

$se-green: (
  500: #00a846,
);

$se-yellow: (
  500: #F0B428,
);

$se-orange: (
  500: #E16428,
);

$se-red: (
  500: #b42846,
);

$se-purple: (
  500: #5a5a96,
);